<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
</head>
<body>
    <h4>Get Customers and Their Orders</h4>

    <label for="customer-select"> Select Customer </label>
    <select id="customer-select">
        <option value="">--Please choose a customer--</option>
        <option value="1">Test Customer</option>
    </select>

    <div class="table-container">
        <table>
        <thead>
            <tr>
                <th width="300px">Company</th>
                <th width="200px">Contact</th>
                <th width="210px">Country</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td width="300px">Alfreds Futterkiste</td>
                    <td width="200px">Maria Anders</td>
                    <td width="200px">Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
                <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>